table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
}

    tr:hover {
        background-color: cornflowerblue !important;
    }
    /* Alternating shading */
    tr:nth-of-type(odd) {
        background: #eee;
    }

th {
    background: #333;
    color: white;
    font-weight: bold;
}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    word-wrap: break-word;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1100px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        /*margin: 0 0 1rem 0;*/
        border-bottom: 6px solid #888;
    }

        tr:first-child {
            display: none;
        }

        tr:last-child {
            border-bottom: none;
        }

        tr:nth-child(odd) {
            background: #ccc;
        }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:last-child {
            border-bottom: none;
        }

        td:before {
            /* Now like a table header */
            position: absolute;
            left: 5px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            border-right: 1px solid #eee;
        }
}