body, html, #form1 {
    height: 100%;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
}

#CarouselDiv {
    background-image: url("Images/Classes.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.loadingScreen {
    background:url("../Images/Loading.gif") no-repeat scroll #fff;
    background-position: 50% 35%;
    position: absolute;
    height: 100%;
    width:100%;
    z-index:2;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#uniText {
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    user-select: none;
}
.ErrorMsg {
    color: red;
    font-size: 1.3em;
}
.loginSection {
    width: 270px;
    margin: 10vh auto;
}
.button {
    border-radius: 7px;
    padding: 8px 0;
    min-width: 100px;
    min-height: 40px;
    text-align: center;
}

.greenFillButton {
    color: #fff;
    background-color: rgb(30,170,30);
    border:2px solid rgb(30,170,30);
}

    .greenFillButton:hover, .greenFillButton:focus {
        background-color: rgb(50, 200, 50);        
    }

.blueFillButton {
    color: #fff;
    background-color: rgb(70, 70, 250);
    border:2px solid rgb(70, 70, 250);
}

    .blueFillButton:hover, .blueFillButton:focus {
        background-color: rgb(100, 100, 250);        
    }

.redFillButton {
    color: #fff;
    background-color: rgb(210,30,30);
    border: 2px solid rgb(210,30,30);
}

    .redFillButton:hover, .redFillButton:focus {
        background-color: rgb(240, 50, 50);
    }

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1100px) {
    .button {
        width: 100%;
        margin-bottom:15px;
    }
}



.box {
    border-radius: 10px;
    border: 1px solid black;
    min-height: 400px;
}

.boxHeader {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 100%;
    height: 50px;
    font-size: 28px;
    background-color: #4287f5;
    padding: 5px 15px;
    color: white;
}